@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");

:root {
  --Moderate-violet: hsl(263, 55%, 52%);
  --Very-dark-grayish-blue: hsl(217, 19%, 35%);
  --Very-dark-blackish-blue: hsl(219, 29%, 14%);
  --White: hsl(0, 0%, 100%);
  --Light-gray: hsl(0, 0%, 81%);
  --Light-grayish-blue: hsl(210, 46%, 95%);
  --Font-family: "Barlow Semi Condensed", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*
^^^^^^^^^^^^^^^^^^^^^^^^^^^ 
This CSS code applies three rules to all elements in your web page:

margin: 0;: This removes any space around elements. Imagine it as pulling elements closer together.

padding: 0;: This removes any space inside elements. Think of it as making the content touch the edges of the element.

box-sizing: border-box;: This ensures that the width and height you set for elements include their padding and border. It makes sizing elements more intuitive.

By using these rules, you start with a clean slate, so elements behave consistently across different browsers. It's a good practice to add this code at the beginning of your CSS to avoid unexpected layout issues.
*/

body {
  font-family: var(--Font-family);
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--Light-grayish-blue);
  padding: 2rem;
}

.testimonial {
  border-radius: 10px;
  padding: 2rem;
  margin-bottom: 2rem;
}

.testimonial-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.testimonial-header h3 span {
  display: block;
  opacity: 0.5;
  font-size: 0.9em;
  font-weight: 500;
}

.testimonial-header img {
  width: 35px;
  border: 2px solid;
  border-radius: 50%;
}

.testimonial h1 {
  margin-bottom: 1rem;
  font-size: 1.9em;
}

.testimonial p {
  opacity: 0.7;
  font-size: 1.2em;
}

/* 
the source of how i created the quotation without using the image given:
kevin powell video :
https://www.youtube.com/watch?v=o1HzOJfgugE&t=282s
0:27
*/

.daniel {
  background-color: var(--Moderate-violet);
  color: var(--White);
  position: relative;
  isolation: isolate;
}

/* making the quotation */
.daniel::before {
  content: open-quote;
  font-family: sans-serif;
  font-weight: 750;
  font-size: 20rem;
  height: 150px;
  color: #a775f1;
  position: absolute;
  top: -3.8rem;
  right: 3rem;
  z-index: -1;
}

.daniel .testimonial-header img {
  border-color: #a775f1;
}

.jonathan {
  background-color: var(--Very-dark-grayish-blue);
  color: var(--Light-gray);
}

.jeanette,
.kira {
  background-color: var(--White);
  color: var(--Very-dark-grayish-blue);
}

.jeanette,
.kira {
  box-shadow: 10px 10px 20px var(--Light-gray);
}

.jeanette .testimonial-header img,
.kira .testimonial-header img {
  border-color: var(--White);
}

.patrick {
  background-color: var(--Very-dark-blackish-blue);
  color: var(--Light-grayish-blue);
}

.patrick .testimonial-header img {
  border-color: var(--Moderate-violet);
}

@media (min-width: 1000px) {
  .testimonials-grid-container {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    gap: 2rem;
  }

  .testimonial {
    margin-bottom: 0;
  }

  .daniel {
    grid-column: span 2;
  }

  .kira {
    grid-area: 1 / 4 / 3 / 5;  /* <row start> / <column start> / <row end> / <column end> */
    /*
    ^^^^^^^^^^^^^^^^^^^^^^^^
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3; 
    */
  }

  .patrick {
    grid-column: span 2;
  }
}
